@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-schedule/styles/material.css';

/* You can add global styles to this file, and also import other style files */

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    color: rgb(79, 38, 131);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    text-align: center;
}

p {
    font-weight: 400;
    font-size: medium;
}

.even {
    padding-left: 0;
}

.odd {
    padding-left: 20px;
}

.hidden {
    display: none;
}